body{
    font-family: "微软雅黑";
}
/*检索*/
.search_box{
    width: 100%;
    height: 80px;
    background: #202223;
}
.search_box .search_box_s{
    width:700px;
    height:40px;
    position:absolute;
    top:20px;left:50%;
    margin-left:-350px;
    background:#666;
    -webkit-box-shadow:0 1px 2px rgb(0,0,0);
    -moz-box-shadow:0 1px 2px rgb(0,0,0);
    -ms-box-shadow:0 1px 2px rgb(0,0,0);
    box-shadow:0 1px 2px rgb(0,0,0);
    z-index:9999

}
.search_box .search_box_s input{
    width:590px;
    height:40px;
    padding:10px 20px;
    font-size:14px;
    color:#555;border:none;
    background:#fff;
    overflow:hidden;
    vertical-align:middle;
}
.search_box .search_box_s button{
    width:110px;
    height:40px;
    overflow:hidden;
    text-align:center;
    font-size:14px;
    color:#fff;
    border:none;
    overflow:hidden;
    vertical-align:middle;
    background:#008cd6;
    outline:none;
    cursor:pointer;
    -webkit-transition:background .2s ease-in-out;
    -moz-transition:background .2s ease-in-out;
    -ms-transition:background .2s ease-in-out;
    transition:background .2s ease-in-out;
    position:absolute;
    left: 590px;
}
.search_box .search_box_s button:hover{
    background:#0074b2;
}
.search_box .search_box_s button:active{
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.3) inset;
    -moz-box-shadow:0 1px 2px rgba(0,0,0,.3) inset;
    -ms-box-shadow:0 1px 2px rgba(0,0,0,.3) inset;
    box-shadow:0 1px 2px rgba(0,0,0,.3) inset;
}
.search_box .search_box_s a.close{
    width:24px;
    height:24px;
    position:absolute;
    top:8px;
    right:-40px;
    background:url(zd_bg_1001.png) -86px 0 no-repeat;
    _background-image:url(zd_bg_1000.gif);}
.search_box .search_box_s a.close:hover{background-position:-86px -25px;}

/*顶部导航开始*/
.top_nav{
    width: 100%;
    height: 75px;
    background:#ffffff;
    border-bottom: 1px solid #efefef;

}
.nav{
    width: 1350px;
    height: 75px;
    margin: 0 auto;
}
/*logo*/
.top_nav div>img{
    float: left;
    margin-top: 15px;
}
/*主导航*/
.main_nav{
    float: left;
    height: 75px;
    line-height: 75px;
    margin-left: 150px;
}
.main_nav ul>li{
    float: left;
    padding: 0 15px;
}
.main_nav ul>li>a{
    float: left;
    height: 74px;
    color: #333333;
    font-size: 15px;
}
.main_nav ul>li>a:hover{
    border-bottom: 4px solid #ebd363;
}
.active{
    border-bottom: 4px solid #ebd363;
}

/*右导航*/
.top_nav_right{
    float: right;
}
.top_nav_right img{
    margin-top: 29px;
}
.top_nav_right ul>li{
    float: left;
    line-height: 75px;
    padding: 0 10px;
}
.top_nav_right ul>li>a{
    float: left;
    height: 74px;
    color: #333333;
    font-size: 15px;
}

/*顶部导航结束*/
/*banner开始*/
.banner_bg{
    box-sizing: border-box;
    width: 100%;
    height: 410px;
    background: url(zd_bg_1_03.jpg) repeat-x;
}
.banner{
    width: 1100px;
    height: 410px;
    margin: 0 auto;
    background: url(zd_bg_banner.png) no-repeat 0 61px;
}
.login{
    width: 320px;
    height: 340px;
    margin-top: 35px;
    background: #ffffff;
    float: right;
}
.login_top{
    width: 320px;
    height: 290px;
    padding: 20px 20px 0 20px;
    margin-bottom: 13px;
}
.login_top p{
    color: #000;
    font-size: 21px;
    margin: 0 0 20px 0;
}
.login_top input{
    width: 280px;
    height: 40px;
    margin: 0 0 12px;
    padding-left: 13px;
    color: #999999;
    font-size: 13px;
}
.login_top .number_l{
    width: 135px;
    height: 40px;
    margin: 0 0 15px;
}
.number_r{
    float: right;
    width: 135px;
    height: 40px;
    background: green;
    box-sizing: border-box;
}
.login_top a{
    float: right;
    font-size: 12px;
    text-align: right;
    width: 100%;
    margin-top: -2px;
    margin-bottom: 10px;
    color: #005e96;
}
.login_top .button{
    height: 40px;
    background: url(zd_bg_10_03.jpg) repeat-x ;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 18px;
}
.login_bottom{
    height: 40px;
    background: #e9f0f4;
    text-align: center;

}
.login_bottom a{
    color: #005e96;
    font-size: 13px;
    line-height: 40px;
}
/*主体开始*/
/*办事服务*/
.floor_one{
    width: 100%;
    height: 340px;
    background: #ffffff;
}
.bsfw{
    width: 1100px;
    height: 340px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.bsfw>.bsfw_list>ul{
    height: 200px;
    overflow: hidden;
    position: absolute;
    top: 75px;
    left: 0;
}
.bsfw>.bsfw_list{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    text-align: center;

}
.title{
    box-sizing: border-box;
    width: 96px;
    padding: 20px 0 20px;
    margin: 0 auto;
    border-bottom: 2px solid #229be5;
    color: #333;
    text-align: center;
}
.bsfw>.bsfw_list>ul>li{
    float: left;
    width: 120px;
    text-align: center;
    margin:25px 76px 0 0;
}
.bsfw>.bsfw_list>ul>li>a>p{
    font-size: 13px;
    color: #333;
    margin-top: 18px;
}
.bsfw .page{
    clear: both;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 290px;
    left: 0;
}
.bsfw>.page>ul{
    width: 100px;
    height: 30px;
    margin: 0 auto;
    padding-top: 12px;
}
.bsfw>.page>ul>li{
    float: left;
    width: 35px;
    height: 5px;
    background: #d2d2d2;
    line-height: 20px;
    cursor: pointer;
    margin-top: 0;
    margin-right: 15px;

}
.bsfw>.page>ul>li.active_one{
    background: #3479df;

}
/*办事指南*/
.floor_two{
    width: 100%;
    height: 395px;
    background: #f5f5f5;
}
.bszn{
    width: 1100px;
    height: 395px;
    margin: 0 auto;
}
.content_two{
    float:left ;
    height: 260px;
    margin-top: 30px;
}
.content_two>div{
    float:left ;
    width: 352px;
    height: 120px;
    margin: 0 22px 20px 0;

 }
.content_two>div>p{
    float: right;
    width: 172px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    border: 1px solid #c5d8db;
    border-left: none;

}
.content_two>div>p.fl{
    float: left;
    border: 1px solid #c5d8db;
    border-right: none;
    width: 179px;

}
.content_two>div>p>a{
    color: #239de6;
    font-size: 22px;
}
.bszn .content_two .margin_none{
    margin-right:0;
}
/*综合查询*/
.floor_three{
    width: 100%;
    height: 360px;
    background: #ffffff;
}


.zhcx>div.content_three>div.blue:hover{
    background: #239de6;
}


.zhcx>div.content_three>div.blue:hover p{
    color: #fff;
}
.zhcx>div.content_three>div.blue:hover ul>li>a{
    color: #b2e2fe;
}
.zhcx{
    width: 1100px;
    height: 360px;
    margin: 0 auto;
}
.zhcx>div.bottom_line{
    border-bottom: 1px solid #dcdcdc;
}
.zhcx>div.content_three{
    float:left ;
    height: 170px;
    width: 1100px;
    margin-top: 20px;
}
.zhcx>div.content_three>div{
    float: left;
    width: 352px;
    height: 75px;
    background: #efefef;
    margin: 0 22px 20px 0;
    padding: 18px 0 18px 20px;
}
.zhcx>div.content_three>div.margin_none{
    margin-right: 0;
}

.content_three>div>p{
    font-size: 13px;
    color: #333;
    margin-bottom: 10px;
}
.content_three>div>ul>li{
    float: left;
    font-size: 12px;
    padding: 0 10px;
    border-right: 1px solid #b2b2b2;
}
.content_three>div>ul>li>a{
    color: #b2b2b2;
}
.content_three>div>ul>li.padding_none{
    padding-left: 0;
}
.content_three>div>ul>li.border_none{
    border-right: none;
}
.zhcx .content_three div.cx_moer{
    width: 145px;
    height: 45px;
    margin: 0 auto;
    text-align: center;
    line-height: 45px;
    background: url(zd_bg_11.png) no-repeat;
    cursor: pointer;
}
.zhcx .content_three div.cx_moer>a{
    color: #239de6;
}
.zhcx .content_three>div.cx_moer_contaiter{
    width: 1100px;
    height: 45px;
    background: #fff;
    padding: 0;
}
/*互动交流*/
.floor_four{
    width: 100%;
    height: 335px;
    background: #f5f5f5;
}
.hdjl{
    width: 1100px;
    height: 335px;
    margin: 0 auto;
}
.title_hdjl{
    box-sizing: border-box;
    width: 96px;
    padding: 30px 0;
    margin: 0 auto;
    color: #333;
    text-align: center;
    font-size: 22px;
}
.hdjl .content_four{
    float: left;
    height: 220px;
    
}
.hdjl .content_four>div{
    float: left;
    width: 353px;
    height: 220px;
    margin-right: 20px;
    border: 1px solid #c5d8db;
    background: #fff;

}
.hdjl .content_four>div.margin_none{
    margin-right: 0;

}
.hdjl .content_four>div>p{
    color: #333;
    font-size: 16px;
    padding: 15px 0 0 20px;
}
.hdjl .content_four>div>div{
    width: 100%;
    height: 169px;
    overflow: hidden;
}
.hdjl .content_four>div>p>a{
    color: #999;
    font-size: 12px;
    padding-left: 16px;
}
.hdjl .content_four>div>div>a>img{
    height: 169px;
    transition: height .5s linear;
}
.hdjl .content_four>div>div>a>img:hover{
    height: 180px;
}
/*图片放大效果开始*/
.content_two div>div.fr{
    float: right;
    width: 173px;
    height: 120px;
}
.content_two div>div{
    float: left;
    width: 180px;
    height: 120px;
    overflow: hidden;
}
.content_two div>div>img{
    float: right;
    height: 120px;
    transition: height .5s linear;
}
.content_two div>div>img:hover{
    height: 130px;
}
/*图片放大效果结束*/

/*主体结束*/

/*尾部开始*/
.footer{
    width: 100%;
    height: 110px;
    background: #2166a7;
}
.footer_nav{
    width: 1100px;
    height: 110px;
    margin: 0 auto;
}
.footer_nav>div{
    float: right;

    margin-top: 35px;
}
.footer_nav>img{
    float: right;
    margin-top: 26px;

}
.footer_nav>div>p{
    width: 825px;
    padding-left:35px;
    line-height: 23px;
    font-size: 12px;
    color: #fff;

}









/*尾部结束*/









